binvault
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
Godeps/

data/buckets/**/*
!data/buckets/README.md

data/public/**/*
!data/public/README.md

data/temp/**/*

data/*.db
data/*.pem

node_modules
.parcel-cache

docs/public/*
!docs/public/README.md
!docs/public/images
!docs/public/*.pdf
!docs/public/*.json
!docs/public/*.md
!docs/public/CNAME